@import url(/src/styles/components.css);

main {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.rectangle1,
.rectangle2,
.rectangle3 {
  width: 22px;
  height: 4px;
  background-color: var(--white-div);
  border-radius: 2px;
}
.rectangle4,
.rectangle5 {
  width: 22px;
  height: 4px;
  background-color: var(--black-color);
  border-radius: 2px;
}

.buttonMenu {
  position: absolute;
  right: 3%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 18px;
  width: 32px;
  cursor: pointer;
}

.buttonMenuHide {
  position: absolute;
  right: 5%;
  top: 2%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 18px;
  width: 32px;
  cursor: pointer;
}

.rectangle4 {
  position: absolute;
  transform: rotate(45deg);
  top: 50%;
  color: var(--black-color);
}

.rectangle5 {
  position: absolute;
  transform: rotate(-45deg);
  top: 50%;
  color: var(--black-color);
}

.menuHeader {
  position: fixed;
  right: 0%;
  top: 0%;
  width: 50vw;
  height: 100vh;
  margin: 0 auto;
  background-color: var(--white-div);
  border-radius: var(--radius2);
  animation: showMenu 1s ease-in-out;
}

.menuList {
  margin-top: 100px;
  height: 25%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  text-align: center;
}

.menuList li {
  background-color: var(--blue-color1);
  width: 90%;
  min-height: 60px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  border-radius: var(--radius2);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.menuList li a,
#logout {
  text-decoration: none;
  color: var(--white-color);
  text-shadow: 3px 2px 0px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.sectionMenu {
  position: fixed;
  right: 0%;
  top: 0%;
  width: 100vw;
  height: 100vh;
  background-color: rgba(17, 17, 26, 0.4);
}

.boasVindas {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: var(--white-div);
  height: 200px;
  width: 85%;
  gap: 1rem;
  margin: 0 auto;
  border-radius: var(--radius2);
  border: 3px var(--blue-color1) solid;
  padding: 1rem;
  padding-top: 5px;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.secao1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--white-div);
  width: 85%;
  margin: 0 auto;
  margin-top: 3rem;
  border-radius: var(--radius);
  gap: 1rem;
  padding: 1rem;
  margin: 0 auto;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.secao1 ul {
  display: flex;
  flex-direction: column;
  overflow-x: auto;
  width: 100%;
  height: 23rem;
  display: flex;
  gap: 1rem;
  overflow-y: auto;
  width: 100%;
  height: 23rem;
}

.secao1 ul li {
  width: 90%;
  margin: 0 auto;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  border: 2px solid var(--blue-color2);
  border-radius: var(--radius);
  padding: 8px;
  background-color: var(--blue-color2);
  color: var(--white-div);
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.divTextSection {
  width: 90%;
  background-color: var(--blue-color1);
  padding: 1rem;
  color: var(--white-color);
  border-radius: var(--radius1);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  height: 100px;
}

.hidden {
  display: none;
}

.divImagem {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
}

.divImagem img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.divTexto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 85%;
  height: 50%;
  background-color: var(--white-div);
  color: var(--black-color);
  border-radius: var(--radius-bottomLi);
  gap: 8px;
  padding: 1.5rem;
  overflow-wrap: break-word;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.divButtons {
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.divButtons button {
  width: 45%;
}

#closeModal {
  position: fixed;
  right: 4.6%;
  top: 26.8%;
  background-color: brown;
  padding: 0.4rem;
  border-radius: var(--radius3);
  color: azure;
  cursor: pointer;
}

@media (min-width: 768px) {
  main {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .boasVindas {
    min-height: 500px;
    width: 600px;
  }

  .secao1 {
    width: 350px;
    justify-content: flex-start;
    max-height: 500px;
    border: 3px var(--blue-color1) solid;
  }

  .secao1 ul li {
    width: 65%;
  }

  .menuHeader {
    width: 200px;
  }

  .divTexto {
    width: 70%;
    padding: 2rem;
  }
}

@keyframes showMenu {
  0% {
    transform: translateX(50vw);
  }

  100% {
    transform: translateX(0px);
  }
}

@keyframes hideMenu {
  0% {
    transform: translateX(0px);
  }

  100% {
    transform: translateX(50vw);
  }
}
