@import url(/src/styles/components.css);
@import url(/src/styles/prin.css);

form {
  height: 60%;
  border-radius: var(--radius1);
}

.divTexto {
  background-color: var(--blue-color3);
  width: 90%;
  text-align: center;
  color: var(--white-color);
  justify-content: center;
  align-items: center;
  gap: 1rem;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  margin: 0 auto;
}

ul li {
  padding-bottom: 5px;
}

.divImagem {
  box-shadow: none;
}
