@import url(/src/styles/components.css);
@import url(/src/styles/dashboard.css);

main section {
  width: 90%;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: var(--white-div);
  border-radius: var(--radius1);
  padding: 0.5rem;
  gap: 1rem;
}

.departamentoUser ul {
  height: 100px;
  overflow-y: hidden;
}

.departamentoCoWorkers ul {
  height: 200px;
}

#coWorkers {
  width: 250px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 1.5rem;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  background-color: var(--white-div);
  margin: 0 auto;
}
