@import url(/src/styles/components.css);
@import url(/src/styles/dashboard.css);

form {
  height: 100%;
  width: 80%;
  gap: 2rem;
}

main section {
  width: 90%;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: var(--white-div);
  border-radius: var(--radius1);
  border: 2px var(--blue-color1) solid;
  padding: 0.5rem;
  gap: 1rem;
}

.deleteInfos {
  display: flex;
  justify-content: center;
  align-items: center;
}
