@import url(./src/styles/components.css);
@import url(./src/styles/dashboard.css);

form {
  padding: 1rem;
  border-radius: var(--radius1);
}

.modal1,
.modal2 {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(17, 17, 26, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}
