@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url(/src/styles/components.css);
@import url(/src/styles/dashboard.css);

form {
  min-height: 80%;
  padding: 1rem;
  border-radius: var(--radius1);
}

select {
  width: 90%;
  height: 1.5rem;
  border-radius: var(--radius3);
  border: 1px solid var(--black-color);
  text-align: center;
}

.secao1 ul {
  height: 12rem;
  overflow-y: auto;
}

#closeModal {
  position: fixed;
  right: 4.6%;
  top: 26.8%;
  background-color: brown;
  padding: 0.4rem;
  border-radius: var(--radius3);
  color: azure;
  cursor: pointer;
}

.hidden {
  display: none;
}
