@import url(/src/styles/components.css);
@import url(/src/styles/dashboard.css);

form {
  min-height: 80%;
  padding: 1rem;
  border-radius: var(--radius1);
}

select {
  width: 90%;
  height: 1.5rem;
  border-radius: var(--radius3);
  border: 1px solid var(--black-color);
  text-align: center;
}

.secao1 ul {
  height: 12rem;
  overflow-y: auto;
}

#closeModal {
  position: fixed;
  right: 4.6%;
  top: 26.8%;
  background-color: brown;
  padding: 0.4rem;
  border-radius: var(--radius3);
  color: azure;
  cursor: pointer;
}

.divButtons {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.divButtons button {
  width: 30%;
  color: var(--white-color);
}

.modal1,
.modal2 {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(17, 17, 26, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

#closeModal {
  position: fixed;
  right: 4.6%;
  top: 26.8%;
  background-color: brown;
  padding: 0.4rem;
  border-radius: var(--radius3);
  color: azure;
  cursor: pointer;
}

.hidden {
  display: none;
}

@media (min-width: 768px) {
  form {
    width: 90%;
  }

  header {
    width: 98vw;
  }
}
