@import url(/src/styles/components.css);
@import url(/src/styles/dashboard.css);

.secao1 ul li span {
  font-size: 24px;
}

.button2 {
  height: 40px;
  width: 128px;
}

.modal {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(17, 17, 26, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal ul {
  background-color: var(--white-div);
  width: 85%;
  height: 300px;
  flex-direction: column;
  padding: 1rem;
  border: 2px solid var(--blue-color3);
  border-radius: var(--radius-bottom);
  gap: 1rem;
  overflow-y: auto;
}

.modal ul li {
  display: flex;
  flex-direction: column;
  height: 150px;
  width: 75%;
  gap: 0.5rem;
  border: 2px solid var(--blue-color2);
  padding: 1rem;
  margin: 0 auto;
  margin-top: 3.5rem;
}

#closeModal {
  position: fixed;
  right: 4.6%;
  top: 26.8%;
  background-color: brown;
  padding: 0.4rem;
  border-radius: var(--radius3);
  color: azure;
  cursor: pointer;
}

.hidden {
  display: none;
}
